<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/styles.css">
    <title>Cs50_Images</title>
</head>
<body>
    <div class="ADV">
        <h1 style="font-size: 35px; position: relative; left:-600px">CS50_<span class="blue">G</span><span class="red">o</span><span class="yellow">o</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span></h1>
        <a style="font-size: 25px; position: relative; left: 1180px; top: -50px; text-decoration: none; color:black;" href="/">Home</a>
        <a style="font-size: 25px; position: relative; left: 1200px; top: -50px; text-decoration: none; color:black;" href="images.html">Images</a>
    </div>
    <div class="SRCH">
        <h2 style="font-size:30px; color: #B93A50; position: relative; left: 10px; top: -200px">Advanced Search</h2>
        <hr style="border: 1px solid #E7e9ea; position:relative; top: -200px;">
    </div>
    <p style="font-size:25px; position:relative; top:-210px; left: 10px;">Find pages with:</p>
    <p style="font-size:18px; position:relative; top:-190px; left: 10px;">
        all these words:
    </p>
    <p style="font-size:18px; position:relative; top:-170px; left: 10px;">
        this exact word or phrase:
    </p>
    <p style="font-size:18px; position:relative; top:-150px; left: 10px;">
        any of these words:
    </p>
    <p style="font-size:18px; position:relative; top:-130px; left: 10px;">
        none of these words:
    </p>
    <form action="https://www.google.com/search" method="get">
        <input type="text" name="as_q" style="border-radius: 0px; width:700px; height:10px; border: 3px solid #555; position:relative; top:-360px; left:280px">
        <input type="text" name="as_epq" style="border-radius: 0px; width:700px; height:10px; border: 3px solid #555; position:relative; top:-345px; left:280px">
        <input type="text" name="as_oq" style="border-radius: 0px; width:700px; height:10px; border: 3px solid #555; position:relative; top:-325px; left:280px">
        <input type="text" name="as_eq" style="border-radius: 0px; width:700px; height:10px; border: 3px solid #555; position:relative; top:-305px; left:280px">
        <input type="submit" value="Advanced Search" style="color:white; background-color: #4285f4; position:relative; top:-235px; left:75px">
    </form>
    <p style="color:grey; font-size:18px; position:relative; top:-655px; left: 1000px;"> To do this in the search box</p>
    <p style="color:grey; font-size:13px; position:relative; top:-615px; left: 1000px;"> Type the important words: tri-colour rat terrier</p>
    <p style="color:grey; font-size:13px; position:relative; top:-595px; left: 1000px;"> Put exact words in quotes: "rat terrier"</p>
    <p style="color:grey; font-size:13px; position:relative; top:-565px; left: 1000px;"> Type OR between all the words you want: miniature OR standard</p>
    <p style="color:grey; font-size:13px; position:relative; top:-515px; left: 1000px;"> Put a minus sign just before words that you don't want: -rodent, -"Jack Russell"x</p>
</body>
</html>