<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/styles.css">
    <title>Cs50_search</title>
</head>
<body>
    <h1 id="first">CS50_<span class="blue">G</span><span class="red">o</span><span class="yellow">o</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span></h1>
    <form action="https://www.google.com/search" method="get">
        <div class="search-field">
            <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#808080" stroke-linecap="round" stroke-linejoin="round"><circle cx="8.5" cy="8.5" r="5" /><path d="m17.571 17.5-5.571-5.5" /></g></svg>
            <input type="text" name="q" placeholder="   Search" autofocus>
        </div>
        <input type="submit" value="Google Search">
        <!-- Adding a name to the feeling lucky button includes the parameter in the URL -->
        <input type="submit" name="btnI" value="I'm feeling lucky">
    </form>
    <a class="img" href="images.html">Images</a>
    <a class="adv" href="advanced.html">Advanced Search</a>
</body>
</html>